script#tp_drawingBench(type='text/template')
	div
		#toolBox
			.toolButton.tool_paint(data-tool='paint')
			.toolButton.tool_rect(data-tool='rect')
			.toolButton.tool_circle(data-tool='circle')
			.toolButton.tool_line(data-tool='line')
		#propertyBox
			#colorPalette
				.currentColor
				table
					tr
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
					tr
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td	
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
		#drawingArea
			canvas.drawing_canvas#canvas(width='#{canvas.width}', height='#{canvas.height}')
			canvas.drawing_canvas#buffer(width='#{canvas.width}', height='#{canvas.height}')