script#tp_drawingBench(type='text/template')
	div
		#toolBox
			.toolButton.tool_paint.active(data-tool='paint')
			.toolButton.tool_rect(data-tool='rect')
			.toolButton.tool_ellipse(data-tool='ellipse')
			.toolButton.tool_line(data-tool='line')
			.toolButton.tool_text(data-tool='text')
		#propertyBox
			#colorPalette.propertyItem
				.currentColor
				table
					tr
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
					tr
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
						td	
							.colorButton 
						td
							.colorButton 
						td
							.colorButton 
			
			.propertyItem#brushSize
				.pull-left
					.clearfix
						span.pull-left Taille :
						input#brushSizeInput.sizeInput.pull-left
					#brushSizeSlider
				
				canvas#brushPreview(width='100', height='100')
				
			.propertyItem#fontSize
				.pull-left
					.clearfix
						span.pull-left Taille :
						.input-append.pull-left
							input#fontSizeInput.sizeInput
							span.add-on pt
					#fontSizeSlider
			
			.propertyItem#fontAttributes
				select#fontFamily
					option.font-arial(value='Arial', selected='selected') Arial
					option.font-arialblack(value='Arial Black') Arial Black
					option.font-comic(value='Comic Sans MS') Comic Sans MS
					option.font-courier_new(value='Courier New') Courier New 
					option.font-georgia(value='Georgia') Georgia
					option.font-impact(value='impact') Impact
					option.font-times(value='Times New Roman') Times New Roman		
					option.font-trebuchet(value='Trebuchet MS') Trebuchet MS
					option.font-veranda(value='Veranda') Veranda
					option.font-webdings(value='Webdings') Webdings
				div
					label.checkbox.inline
						input.fontAttribute(type="checkbox", value="italic") 
						| Italic
					label.checkbox.inline
						input.fontAttribute(type="checkbox", value="bold") 
						| Bold
						
				
			
		#drawingArea
			canvas.drawing_canvas#canvas(width='#{canvas.width}', height='#{canvas.height}')
			canvas.drawing_canvas#buffer(width='#{canvas.width}', height='#{canvas.height}')