doctype 5
html
	head
		title Paint.fb
		link(href="css/bootstrap.min.css", rel="stylesheet")
		link(href="css/jquery-ui.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
	body
		#fb-root
		#content
			.navbar.navbar-fixed-top
				.navbar-inner
					.container-fluid
						.brand Paint.fb
						ul.nav
							li.divider-vertical
						ul.nav.pull-right
							li
								a(href="#") Aide
							li
								a(href="#") A propos
			#loading_frame.container-fluid
				h1 Paint on facebook
				p chargement en cours...
				img(src='img/ajax-loader.gif')
			include login_frame
			include main_frame
			
	include templates.jade
	
	//- Paramètres globaux
	script
		var FB_APP_ID = '#{FB.appId}';
		var FB_SCOPE = '#{FB.scope}';
	script(data-main='js/main', src='js/lib/require-jquery.js')