doctype 5
html
	head
		title Paint.fb
		script(data-main='js/main', src='js/lib/require-jquery.js')
		link(href="css/bootstrap.min.css", rel="stylesheet")
	body
		#fb-root
		#content.container-fluid
			#loading_frame
				h1 Paint on facebook
				p chargement en cours...
				img(src='img/ajax-loader.gif')
			include login_frame
