#login_frame(style="display: none").container-fluid
	.row-fluid
		.span2
		.span8
			h1 Paint on facebook
			p avec paint on facebook dessinez avec vos amis et partagez vos oeuvres sur facebook.
			button#login_button.btn.btn-large.btn-primary Ajoutez l'application pour commencer !