#login_frame(style="display: none")
	h1 Paint on facebook
	p avec paint on facebook dessinez avec vos amis et partagez vos oeuvres sur facebook.
	.fb-login-button(data-show-faces="true", data-width="200", data-max-rows="1")