#main_frame(style="display: none")
	#menu
		#menu_resize
		#conferences
		#friends
			ul.nav.nav-list#friendslist
				li.nav-header#friendslist_search
					input.input-small.search-query(type='text', placeholder='Rechercher...')
					button.btn(title="rafraîchir")
						i.icon-refresh
				
	#drawing_frame