#main_frame(style="display: none")
	#menu
		#menu_resize
		#discussions.submenu
			h3 Discussions
			ul.nav.nav-list#discussionsList
		#friends.submenu
			h3 Amis
			#friendslist-searchform.input-append
				input.input-small.search-query#friendslist_search(type='text', placeholder='Rechercher...')
				button#friendslist_refresh.btn(title="rafraîchir")
					i.icon-refresh
			#friendsViewport
				ul.nav.nav-list#friendslist
				
				
	#content_area
			