#main_frame(style="display: none")
	#menu
		#menu_resize
		#conferences.submenu
			h3 Discussions
		#friends.submenu
			h3 Amis
			#friendslist-searchform
				input.input-small.search-query#friendslist_search(type='text', placeholder='Rechercher...')
				button#friendslist_refresh.btn(title="rafraîchir")
					i.icon-refresh
			div
				ul.nav.nav-list#friendslist
				
				
	#content_area
		#content_container
			