script#friendslist_label(type='text/template')

	li.nav-header En ligne :
	
	| <% _.each(_.union(active, idle), function(friend) { %>
	li
		a.friendLabel(href='#') <%= friend.name %>
	| <% }); %>
	
	li.nav-header Hors ligne :
	
	<% _.each(offline, function(friend) { %>
	li
		a.friendLabel(href='#') <%= friend.name %>
	| <% }); %>
	
	
	
